*{
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: white;
    margin-left: 7%;
    text-align: center;
    margin-top: 10px;
}

#subtitulo {
    font-family: sans-serif;
    color: white;
    margin-left: 10%;
    text-align: center;
}

fieldset {
    border: 0;
}

body {
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    justify-content: center;
    background-image: url("imagens/computer2.jpg");
    background-size: cover;
    margin: auto;
    display: grid;
}

input, select, textarea, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;

}

.campo label {
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

textarea {
    width: 100%;
    height: 60px;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background-color: #E0E0F8;
}

.botao {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin: auto;
    display: block;
    margin-top: 40px;
}

.botao:hover {
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

#check {
    display: inline-block;
}

#fundo-branco {
    background:rgba(255, 255, 255, 0.9);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

input[type="radio"] {
    margin-right: 5px;

}